@import "_fonts";
@import "_loader";

body {
  font-family: "Source Sans Pro", sans-serif;
}

#main {
  opacity: 0;
  padding-bottom: 10px;
}

h2 {
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #204669;
}

#description {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.map {
  margin-bottom: 10px;
  padding-bottom: 15px;
}
#map {
  width: 100%;
  height: 500px;
  padding-top: 10px;
  fill: #a6d8e8;
  position: relative;
  .zoom-controls {
    position: absolute;
    // right: 45px;
    // bottom: 45px;
    right: 45px;
    top: 45px;
    display: grid;
    grid-gap: 5px;
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: grid;
      border-radius: 50% !important;
      background: #a6b0c3;
      color: #fff;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(200, 200, 200, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
  //legend
  .focus-layer {
    background-color: #fff;
    color: #000;
    fill: #000;
    right: 24px;
    padding: 15px 15px 5px;
    position: absolute;
    bottom: 20px;
    width: 130px;
    // z-index: 3;
    label {
      fill: #000;
      font-family: "Gotham Bold", sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
    }
    h5 {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 13px;
      line-height: 13px;
    }
  }
}
#countries {
  stroke: #fff;
  stroke-width: 0.1;
}
#countries path {
  cursor: pointer;
}
#countries path.inactive {
  cursor: default;
}
.d3-tip {
  padding: 10px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 3px;
  font-size: 14px;
  color: #000;
  transition: 0.3s opacity ease;
  z-index: 100;
  pointer-events: none;
  h5 {
    font-size: 15px;
  }
  ul {
    margin: 0;
  }
}
.map-tip {
  position: absolute;
}
.hidden {
  display: none;
}

.key-figure {
  h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    // font-weight: normal;
  }
  .num {
    font-family: "Gotham-Light", sans-serif;
    font-size: 40px;
    line-height: 40px;
    min-height: 40px;
    color: #204669;
    // padding: 10px 15px;
    // text-align: center;
  }
}

#regionSelect {
  background-color: #fff;
  border-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font: 700 16px "Source Sans Pro", sans-serif;
  height: 30px;
  margin: 20px 0;
  //   padding: 0 20px;
  //   white-space: pre-wrap;
  width: 100%;
}

.purpose {
  span {
    font-weight: bold;
  }
}

// table content font
#datatable.dataTable td {
  font-size: 14px;
  // .fa-circle {
  //   color: red;
  // }
  .Active {
    color: "#2F9C67";
  }
  .Inactive {
    color: "#D90368";
  }
  .Pipeline {
    color: "#FCCF9E";
  }
  // line-height: 21px;
}

table.dataTable thead th,
table.dataTable thead td {
  font-family: "Gotham-Bold", sans-serif;
  font-size: 13px;
  line-height: 13px;
}

.fa-download {
  color: #000;
  font-size: 16px;
  /* padding-left: 35px; */
}

#statusLegend {
  padding-left: 10px;
  #actif {
    i {
      color: #2f9c67;
    }
  }
  #inactive {
    i {
      color: #d90368;
    }
  }
  #pipeline {
    i {
      color: #fccf9e;
    }
  }
}

a {
  color: #2f9c67;
}

.footer {
  display: inline;
  .submit {
    float: right;
  }
}
